# Operators

# Arthematic operators

In [ ]:
#Example 1
a=int(input("enter the first number "))

b=input("enter the second number")
b=int(b)
print(f"addition of two number {a+b}")
print(f"subtraction of two number {a-b}")
print(f"division of two number {a/b}")
print(f"multiplication of two number {a*b}")
print(f"reminder of two number {a%b}")
print(f"a power b {a**b}")
print(f"quotient of two number {a//b}")

In [ ]:
#Example 2
a=input("enter the first number ")
a=int(a)
b=input("enter the second number")
b=int(b)
print(f"addition of two number {a+b}")
print(f"subtraction of two number {a-b}")
print(f"division of two number {a/b}")
print(f"multiplication of two number {a*b}")
print(f"reminder of two number {a%b}")
print(f"a power b {a**b}")
print(f"quotient of two number {a//b}")

In [ ]:
#Example 3
a=input("enter the first number ")
a=int(a)
b=input("enter the second number")
b=int(b)
print(f"addition of two number {a+b}")
print(f"subtraction of two number {a-b}")
print(f"division of two number {a/b}")
print(f"multiplication of two number {a*b}")
print(f"reminder of two number {a%b}")
print(f"a power b {a**b}")
print(f"quotient of two number {a//b}")

# assingment operators

In [ ]:
#Example 1
c=a+b
d=a-b
e=a*b
f=a/b
g=a%b
h=a**b
i=a//b
print(f"addition of two number assign to c {c}")
print(f"subtraction of two number assign to d {d}")
print(f"multiplication of two number assign to e {e}")
print(f"division  of two number assign to f {f}")
print(f"reminder of two number assign to g {g}")
print(f"power of two number assign to h {h}")
print(f"quoteint of two number assign to i {i}")

In [1]:
#Example 2
i=0
k=int(input("enter the number"))
while(i<=k):
    print(f"increment in the i {i}")
    
    i=i+1
    print("assigning the incremented value of i to i")

enter the number5
increment in the i 0
assigning the incremented value of i to i
increment in the i 1
assigning the incremented value of i to i
increment in the i 2
assigning the incremented value of i to i
increment in the i 3
assigning the incremented value of i to i
increment in the i 4
assigning the incremented value of i to i
increment in the i 5
assigning the incremented value of i to i

# comparision operators

In [ ]:
#Example 1
w=9
v=10
print(w < v)
print("w is less than v so it is true")

In [ ]:
#Example 2
w = 9
v = 10
print(w>v)
print("w is less than v so it is false")

In [ ]:
#Example 3
w=1
v=10
print(w == v)
print("w is less than v so it is true")

# identity operator

In [ ]:
#Example 1
s=10
q=12
print(s is q)
print("s is not eqaul to q" )

In [ ]:
#Example 2
j=2
l=2
print(j is l)
print(f"{j} is eqaul to {l}" )

In [ ]:
#example 3
x=12
z=13
print(x is not z)
print("x is not equal to z")

# Membership operators

In [ ]:
#example 1
list1 =(1,2,3,4,5,6,7)
print(1 in list1)
print("i is in the list")

In [ ]:
#Example 2
list2=(0,9,8,76,5,4,3)
print(10 in list2)
print("10 is not in the list")

In [ ]:
#Example 3
list3=(10,11,12,13,14)
print(10 not in list3)
print(" 10 is in the list")

# string

In [ ]:
s='my name is ayub'
print(s.capitalize())
print("captilize the first letter of string")
print(f" shows the lenght of the string which is {len(s)}")

In [ ]:
q="i am in uet peshawar electrical engineering"
print(q.upper())
#print("captilize the all alphabets of string")
#print(f" shows the lenght of the string which is {len(q)}")

In [ ]:
l='''I GOT 3.85 CGPA IN THE 2ND SEMMESTER '''
print(l.lower())
#print("convert  the all alphabets of string to lower case")
#print(f" shows the lenght of the string which is {len(l)}")

In [ ]:
h="i have done my Fsc from orbit college hill view campus swab"
print(h.replace('i','a'))
print("i have change the i to a")
print(f" shows the lenght of the string which is {len(h)}")
h.find('m')

In [ ]:
n='i have done my matric from the sahib zada model school '
print(f"numbers of i in the string is {n.count('i')}")
print(f"numbers of o in the string is {n.count('o')}")
print(f"numbers of m in the string is {n.count('m')}")
print(f" shows the lenght of the string which is {len(n)}")

In [ ]:
j='i got 968 marks in the matric'
print(f"find the index number of c {j.find('c')}")
print(f"find the index number of 8 {j.find('m')}")
print(f"find the index number of i {j.find('i')}")
print(f"find the index number of o {j.find('o')}")
print(f" shows the lenght of the string which is {len(j)}")

j[3]


# list

In [ ]:
#Example 1
list3=[1, 1, 2,3,4,5,6,7,8]
print(list3[0])
list3.append('100')
print(f"added 100 in the last of the list3 {list3}")
print(f"count the numbers of ones in the list3 {list3.count(1)}")
print(f"index number of  is {list3.index(1)}")
list3.pop(8)
print(f"delete the 8 from the list {list3}")
list3.remove(3)
print(f"remove the 3 from thr list3 {list3}")
list3.reverse()
print(f" the sequence of the list is reverse {list3}")
list4=[3,5,6,7,4,1,100,0]
list4.sort()
print(f" the sequnce of the list is in ascending order {list4}")
#print(f" shows the lenght of the list which is {len(list4)}")
list4.reverse()
print(list4)

In [ ]:
#Example 2
list5=[4,3,5,3,5,62]
list5.append(10)
print(f"added 10 in the last of the list3 {list5}")
print(f"count the numbers of ones in the list3 {list5.count(1)}")
print(f"index number of 8 is {list5.index(5)}")
list5.pop(4)
print(f"delete the 8 from the list {list5}")
list5.remove(3)
print(f"remove the 3 from thr list3 {list5}")
list5.reverse()
print(f" the sequence of the list is reverse {list5}")
list6=[4,5,8,9,0,2,45,87]
list6.sort()
print(f" the sequnce of the list is in ascending order {list6}")
print(f" shows the lenght of the list which is {len(list6)}")

# Tuple

In [ ]:
tu=(1,2,2,2,3,4,5)
print(f" shows: the number of twos in the tuple which are {tu.count(2)} ayub khan{tu}")
print(f" shows the index number of 5 which is {tu.index(5)}")
print(f" shows the lenght of the tuple which is {len(tu)}")

In [ ]:
tu1=(9,9,9,9,8,7,6,5,4)
print(f" shows the number of nine in the tuple which are {tu1.count(9)}")
print(f" shows the index number of 5 which is {tu1.index(8)}")
print(f" shows the lenght of the tuple which is {len(tu1)}")

# logical operators

In [4]:
name = str(input("enter a Digit: "))
name = name.upper()
print(name)
if (name=="A"):
    print("zero")
elif(name == "b"):
    print("one")
else:
    print("inva.3lid")

enter a Digit: a
A
zero

# grading system

In [ ]:
print(" Welcome to the grading system in which you have to enter the total marks and obtain marks /n;")
print("And we will calculate your percentage and also your grade")


t_marks = int(input("enter your total marks : "))
o_marks = int(input("enter your obtain marks : "))
per = (o_marks/t_marks)*100
if(o_marks > t_marks):
    print("incoorect marks")
elif( per >= 90 ):
    print(f"your percentage is {per} and your grade is A+")
elif( per >= 80):
          print(f"your percentage is {per} and your grade is A")
elif( per >= 70 ):
    print(f"your percentage is {per} and your grade is B ")
elif( per >= 60 ):
    print(f"your percentage is {per} and your grade is C ")
elif( per >= 40 ):
    print(f"your percentage is {per} and your grade is D ")
elif( per <= 40 ):
    print(f"your percentage is {per} and your grade is F")

In [1]:
w=str(input("enter the alphabet "))
w = w.lower()
if len(w) >1:
    print("Enter only one Alphabet")
elif(w=='a'):
    print("The alphabet you enter is the wovel")
elif(w == 'e'):
    print("the alphabet you enter is the wovel")
elif(w == 'i'):
    print("the alphabet you enter is the wovel")
elif(w == 'o'):
    print("the alphabet you enter is the wovel")
elif(w == 'u'):
    print("the alphabet you enter is the wovel")
else:
    print("The alphabet you enter is the consonant")

enter the alphabet A
The alphabet you enter is the wovel

# Dictionary of abrivations

In [ ]:
dic={"computer":"common operating machine purposely used for technological and educational research","rom":"read only memory","ram":"random access memory" , "cpu":"central processing unit", "hdd":"hard disk drive","ssd":"solid state drive"}

In [ ]:
print(f" it will show the item in the dictionary ")
dic.items()

In [ ]:
print("it will shows us the keys used in the dictionary ")
dic.keys()

In [ ]:
print("it will shows the valus in the dictionary")
dic.values()

In [ ]:
print ("it will create the copy of dictionary")
dic.copy()

In [ ]:
dic.fromkeys()

In [ ]:
print ("it will print the value")
dic.get("rom")

In [ ]:
print ("welcome to the abrevational dictionary of computer")
key=str(input("enter the key "))
a=key.lower()
print(f"the abrevation is : {dic[a]}")

In [ ]:
# Example no 2
dic2={"QUILTED":"MADE OF TOW LAYERS CLOTHES","INVINCIBLE":"TOO PWER FULL TO BE DEFEATED",
      "RAG":"A PEICE OFOLD CLOTHES","OUTGRWON":"GRWON TOO BIG FOR","GUT":"THE STOMACH OR BELLY",
      "DERAILED":"CUASE TO LEAVE ITS TRACK ACCEDENTILLY","RENDER":"TO GIVE"
     }

In [ ]:
print(f"it will show {dic2}")

In [ ]:
key1=str(input("enter the key"))
b=key1.upper()
print(f" The meaning of the word is {dic2[b]}")

In [ ]:
!pip install numpy

# while and for loop

In [ ]:
for i,j in dic2.items():
    print(f"The key is {i} and the value is {j}")

In [ ]:
f=['x','y','z']
k=1
print("it will make the dictionary from the list and the 1 value")
dic3 = dic2.fromkeys(f,k)
dic3

In [ ]:
i=0
while(True):
    s=str(input ("enter the key "))
    s=s.upper()
    print(f" The meaning of the word is {dic2[s]}")
    continue

# Convert the keys and values to lower by using loop

In [2]:
dic5={"QUILTED":"MADE OF TOW LAYERS CLOTHES","INVINCIBLE":"TOO PWER FULL TO BE DEFEATED",
      "RAG":"A PEICE OFOLD CLOTHES","OUTGRWON":"GRWON TOO BIG FOR"}

In [3]:
dic5={i.lower():j.lower() for i,j in dic5.items() }

In [4]:
dic5

{'quilted': 'made of tow layers clothes',
 'invincible': 'too pwer full to be defeated',
 'rag': 'a peice ofold clothes',
 'outgrwon': 'grwon too big for'}

In [5]:
for k,l in dic5.items():
    j=k.lower()
    g=l.lower()
    print(j,g)

quilted made of tow layers clothes
invincible too pwer full to be defeated
rag a peice ofold clothes
outgrwon grwon too big for

In [ ]:
for i ,j in dic5.items():
    print(f"the key is {i} and the value is {j}")

In [ ]:
list6=[1,2,3,4,5,7,7,8]
s=len(list6)
print(f"it will shows the total number of items in the list {s}")

In [6]:
print("it will display the items of list through for loop")
a = []
for i in list6:
    b = i+10
    a.append(b)
print(a)

it will display the items of list through for loop

NameError: name 'list6' is not defined

In [7]:
print("it will display the items of list through while loop")
l=0
le = len(list6)
while(l<le):
    print(list6[l])
    l=l+1

it will display the items of list through while loop

NameError: name 'list6' is not defined

In [8]:
list7 = []
for i in range (50):
    list7.append(i)
print(list7)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [9]:
list8 = []
for j in range (50,101):
    list8.append(j)
print(list8)

[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [10]:
list7.extend(list8)
print(list7,end=' ')

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

# String slicing

In [11]:
print("full name")
name='muhammad ayub'
name

full name

'muhammad ayub'

In [12]:
print("here we will print the first name")
for i in range (0,8):
    print(name[i],end=' ')

here we will print the first name
m u h a m m a d

In [13]:
print("here we will print the second name")
for i in range (9,13):
    print(name[i],end='')

here we will print the second name
ayub

In [14]:
name1='Muhammad Ayub'

In [15]:
name_=name1.split()
name_

['Muhammad', 'Ayub']

In [16]:
f_name=name_[0]
f_name

'Muhammad'

In [17]:
s_name=name_[-1]
s_name

'Ayub'

In [ ]:
print(f"fisrt name is {f_name} and the second name is {s_name}")

# import numpy library

In [ ]:
import numpy as np

In [ ]:
list8=[]
for i in range (100000):
    list8.append(i)
%time print(list8)

# conversion of simple list to py array

In [ ]:
list9=np.array(list8)
print("convert a simple list to numpy list")
print(list9)

In [ ]:
%time list9

# Magic commands

In [ ]:
print("it will shows the variables used in the above code")
%who

In [ ]:
%time list9
print("it will shows the running time of the code ")

In [ ]:
print("it will shows the path directory ")
%pwd

In [ ]:
%ls

# numpy array matrices

In [ ]:
start=int(input("enter the start"))
stop=int(input("enter the stop"))
steps=int(input("enter the steps"))
list10=np.arange(start,stop,steps)
list10

In [ ]:
print("it will make the matrices")
list11=np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12]])
list11

In [ ]:
print("it will make the matric of diagnal ones ")
w=np.eye(3,3, dtype=int)
w

In [ ]:
print("it will show the no of columns and rows ")
np.shape(w)

In [ ]:
list12=np.array([1,2,3,4,5,6,7,8,9])
list12

In [ ]:
print("it will show the shape of the matric")
np.shape(list12)

In [ ]:
 a= np.zeros((10))
a

In [ ]:
b=np.ones(10)
b

In [ ]:
list12.ndim

In [ ]:
print("it will change the no of rows and columns")
list12 =list12.reshape(3,3)
list12

In [ ]:
list12.ndim

In [ ]:
print("it will shows the diagonal of the matrices")
list12.diagonal()

In [ ]:
arr=np.arange(0,100)
arr

In [ ]:
print("it will change the single row into 10x10 matrices")
ar=arr.reshape(10,10)
ar

In [ ]:
print("it will change the the dimension and also rows and columns")
arra=ar.reshape(2,10,-1)
arra

In [ ]:
array1=np.arange(0,20,2)
array1

In [ ]:
type(array1)

In [ ]:
array1=np.array([array1], dtype='i1')

In [ ]:
array1.dtype

In [ ]:
array2=np.array([1,3,4,5,6,7,8,9], dtype='S')

In [ ]:
array2.dtype

# Numpy array iterations

In [ ]:
#1D array
x=np.array([2,3,4,5,6,7], dtype='f')
for i in x:
    print(i ,end =' ')

In [ ]:
#2D array
k=np.array([[1,2,3,4,5,6,7,8],[9,8,7,6,5,4,3,1]])
for l in k:
    for h in l:
        print(h,end=' ')

In [ ]:
#3D array
j=np.array([[[1,2,3,4],[5,6,7,8],[9,10,11,12]]])
for g in j:
    for f in g:
        for a in f:
            print(a,end=' ')

In [ ]:
for an in j:
    for d in an:
        print(d , end =' ')

In [ ]:
# n number of dimension
for v in np.nditer(j):
    print(v,end=' ')

In [ ]:
# iteration with chnaging in data type
ar=np.array([1,2,3,4,5])
for x in np.nditer(ar, flags=['buffered'],op_dtypes=['S']):
    print(x)

In [ ]:
# iteration with different steps size
arr=np.array([[1,2,3],[4,5,6]])
for x in np.nditer(arr[:,::2]):
    print(x,end=' ')

# showing the index number as well as number

In [ ]:
a=np.arange(1,20,2)
a
for idx,i in np.ndenumerate(a):
    print(idx,i,end=' ')

In [ ]:
arr2=np.array([[1,2,3,4],[5,6,7,8]])
for li,k in np.ndenumerate(arr2):
    print(li,k, end=' ')

# numpy joining array

In [ ]:
ar1=np.array([1,2,3])
ar2=np.array([4,5,6])
arr=np.concatenate((ar1,ar2))
arr

In [ ]:
arr=np.hstack((ar1,ar2))
arr

In [ ]:
arr=np.vstack((ar1,ar2))
arr

In [ ]:
arr=np.dstack((ar1,ar2))
arr

# splitting of array

In [ ]:
ar=np.array([1,2,3,4,5])
near=np.array_split(ar,3)
near

In [ ]:
near[1]

In [ ]:
near[0]

# searching of arrays element

In [ ]:
ar=np.array([1,2,3,4,5])
x=np.where(ar==2)
x

In [ ]:
x=np.where(~ar%2==0)
x

In [ ]:
import numpy as np

In [ ]:
x=np.where(ar%2==0)
x

# numoy filter array

In [ ]:
arr=np.array([43,44,45,46,47])
x=[True,False,True,False,True]
ne=arr[x]
ne

In [ ]:
arr=np.array([43,44,45,46,47,48])
filterr_ar=[]
for i in arr:
    if i > 42:
        filterr_ar . append(True)
    else:
        filterr_ar.append(False)
newar =arr[filterr_ar]
print(newar)
print(filterr_ar)

In [ ]:
a1=np.array([1,2,3,4,5,6,7,8,9])
filter_ar=[]
for i in a1:
    if i%2==0:
        filter_ar.append(True)
    else:
        filter_ar.append(False)
newarr= a1[filter_ar]
print(filter_ar)
print(newarr)

In [ ]:
from numpy import random

In [ ]:
x=random.choice(["ayub" ,"ramzan","rohail"],p=[.5,.2,.3],size=(10))

In [ ]:
x

In [ ]:
np.linspace(0,3,9)

In [ ]:
from numpy import pi
np.linspace(0, 2 * pi ,100)
y=np.sin(x)
print(x)
print(y)

In [ ]:
a=np.arange(6)
a

In [ ]:
a=np.array([23,12,24,34,45,56,67,78,89,11,123])
a

In [ ]:
print("it will give us the array having the indexes of sorted array")
np.argsort(a)

In [ ]:
print("it will show us the index no of smallest number")
np.argmin(a)

In [ ]:
print("it will show us the index no of highest number")
np.argmax(a)

In [ ]:
print("it will show us the mean value of the given data")
np.mean(a)

In [ ]:
print("it will show us the median means middle value of the given data")
np.median(a)

In [ ]:
from scipy import stats

In [ ]:
print("shows us the most repeated value in the array and also shows us the no of repeatetion ")
stats.mode(a)

In [ ]:
print("it will show the variance")
np.var(a)

In [ ]:
print("it will show the standard daviation")
np.std(a)

In [ ]:
print('it will show us that the 75% people having 44 or less than 44 age and the 25% are above the 44')
ages=[5,31,43,48,50,41,7,11]
x=np.percentile(ages,75)
x

In [ ]:
x=np.random.uniform(0.0,5.0,250)
x

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.hist(x,bins=10, rwidth= 0.1)
plt.show()

In [ ]:
x=np.random.uniform(0,5,100000)
plt.hist(x)
plt.show

In [ ]:
x=np.random.normal(0,5,100000)
plt.hist(x)
plt.show()

In [ ]:
plt.hist(x,100)
plt.show

In [ ]:
x=np.random.uniform(5,10,1000)
y=np.random.uniform(1,5,1000)
plt.scatter(x,y)
plt.show()

In [ ]:
x=[1,2,3,4,5,6,7]
y=[8,9,10,11,12,13,14]
plt.scatter(x,y)
plt.show()