# 1.	Make a list of 5 any integers.

In [3]:
list1=[1,2,6,7,5]

# 2.	Make a list of that contains student name, last four digits of registration number as integer, CGPA as a float, and a list that contain GPA of all semesters. (Nested List)

In [4]:
list2=['ibraeem khan',480,3.9,[3.84,4.0]]
print(list2[-2])

3.9

# 3.	In the above list print the student CGPA. (Index)

In [5]:
print(list2[3][0])

3.84

# 4.	Print the list elements using the while loop and use length function. (len)

In [6]:
l=0
while (len(list1)):
    print(list1[l])
    l=1+l

1
2
6
7
5

IndexError: list index out of range

In [7]:
j=0
while (len(list2)):
    print(list2[j])
    j=j+1

ibraeem khan
480
3.9
[3.84, 4.0]

IndexError: list index out of range

# 5.	Access the list of all semester GPA using negative indexing.

In [10]:
print(list2[-1])

[3.84, 4.0]

In [11]:
print(list2[-1][1])

4.0

# 6.	Make a list of first 20 integers using range function.

In [12]:
list3=[]
for a in range (0,20):
    list3.append(a)
print(list3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

# 7.	Make a list of odd integers from 20 to 40 using range function.

In [13]:
odd=[]
for a in range (21,40,2):
    odd.append(a)
print(odd)

[21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

# 8.	Consider the student list.
Student = [Ibrahim, Husain, Irfan, Ayub, Usman]
Use in and not in operator to ensure that the student is in the list or not.

In [14]:
student = ['ibrahim','Husain','Irfan','Ayub','Usman']
print('ibrahim' in student)
print('Husain' in student)
print('Irfan' in student)
print('Ayub' in student)
print('Usman' in student)
print('mashal' in student)

True
True
True
True
True
False

# 9.	Print all the student list in task 8 using the for loop.

In [15]:
student = ['ibrahim','Husain','Irfan','Ayub','Usman']
for a in student:
    print(a)

ibrahim
Husain
Irfan
Ayub
Usman

# 10.	Observe what is print, what is the first thing print, what the last thing print. Consider task 8 for student list.

In [17]:
student [1:3]

['Husain', 'Irfan']

In [18]:
student [0:4]

['ibrahim', 'Husain', 'Irfan', 'Ayub']

# Tuple:
1.	Make a tuple containing first five letters of English. (definition)

In [22]:
a=(1,4,5,7,7,7,8,9)
a.count(7)
print(a.index(5))

2

# 2.	Use index to access third and last element.

In [23]:
a[2]
a[-1]

9

# Dictionary: 
1.	Consider the following structure and observe.

In [24]:
Fd= {'one': 'aik','three': 'teen', 'ten' : 'das', 'fifteen' : 'pandra'}
print(Fd)

{'one': 'aik', 'three': 'teen', 'ten': 'das', 'fifteen': 'pandra'}

In [25]:
print(Fd['one'])

aik

In [26]:
print(Fd['three'])

teen

In [27]:
print(Fd['ten'])

das

In [28]:
print(Fd['fifteen'])

pandra

In [31]:
len(Fd)

4

# •	Use key method and print the list of keys

In [32]:
print(Fd.keys())

dict_keys(['one', 'three', 'ten', 'fifteen'])

# •	Use value function to print the list of values.

In [33]:
print(Fd.values())

dict_values(['aik', 'teen', 'das', 'pandra'])

# •	Observe the output of Fd.items().

In [34]:
print(Fd.items())

dict_items([('one', 'aik'), ('three', 'teen'), ('ten', 'das'), ('fifteen', 'pandra')])

# •	Observe the output Fd.has_key(‘one) and Fd.has_key(‘two’) and think where such type of output will help and required.

In [35]:
print(Fd.has_key(one))

AttributeError: 'dict' object has no attribute 'has_key'

# 
print a prime number in range (1-200) in python languages

In [37]:
prim=[]
for a in range (1,200):
    if a %2==0:
        pass
    else:
        print(a)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
101
103
105
107
109
111
113
115
117
119
121
123
125
127
129
131
133
135
137
139
141
143
145
147
149
151
153
155
157
159
161
163
165
167
169
171
173
175
177
179
181
183
185
187
189
191
193
195
197
199

# •	To copy the dictionary, one may use one of the following. Verify by printing copy and alias.
o	copy = Fd.copy()

In [38]:
copy = Fd.copy()

In [39]:
alias = Fd

In [40]:
alias['four'] = '4'

In [41]:
print(alias)

{'one': 'aik', 'three': 'teen', 'ten': 'das', 'fifteen': 'pandra', 'four': '4'}

In [42]:
copy['five'] = '5'
copy

{'one': 'aik', 'three': 'teen', 'ten': 'das', 'fifteen': 'pandra', 'five': '5'}

# Encouraging 
1.	This will be appreciated, and this is an indicator for strong coding skills.

In [57]:
encourage=['sami', 1,['ayub','ibraheem'],['nasir','mashal','fahad','mobeen'],[1,2,3,4]]

In [59]:
print(encourage[-1][1])

2

In [60]:
encourage.reverse()

In [61]:
print(encourage)

[[1, 2, 3, 4], ['nasir', 'mashal', 'fahad', 'mobeen'], ['ayub', 'ibraheem'], 1, 'sami']

In [62]:
print(encourage[0][2])

3

In [63]:
encourage.index(['ayub', 'ibraheem'])

2

In [64]:
for i in encourage:
    print(i)

[1, 2, 3, 4]
['nasir', 'mashal', 'fahad', 'mobeen']
['ayub', 'ibraheem']
1
sami

In [65]:
len(encourage)

5

In [ ]:
encourage.reverse()
encourage