In [ ]:
fh=input("enter the houre ")
fr=input("enter the rate")
fd=float(fh)
fg=float(fr)
print(fd,fg)
if fh>40:
    rg=fh*fr
    rk=fh-40

In [ ]:
 def thing():
        print("halllo")
        print("fun")
thing()
print("zip")

In [ ]:
def sum(a,b):
    add=a+b
    return add
x=sum(3,5)
print(x)

In [ ]:
class exame:
    def _init_ (self,E1,E2):
        self.E1 = E1
        self.E2 = E2
e=exame(23,34)#################why why
print(e.E1)

In [ ]:
def func(x) :
    print(x)

func(10)
func(20)

In [ ]:
def greet(lang):
    if lang == 'es':
        return 'Hola'
    elif lang == 'fr':
        return 'Bonjour'
    else:
        return 'Hello'

print(greet('fr'),'Michael')

In [ ]:
def addtwo(a, b):
    added = a + b
    return a

x = addtwo(2, 7)
print(x)

In [ ]:
def addtwo(a, b):
    added = a + b
    return b

x = addtwo(2, 7)
print(x)

In [ ]:
def computepay(h, r):
    return 498.75

hrs = input("Enter Hours:")
p = computepay(10, 20)
print("Pay", p)

In [ ]:
def computepay(hours, rate):
    if hours <= 40:
        pay = hours * rate
    else:
        pay = 40 * rate + (hours - 40) * 1.5 * rate
    return pay

# Get user input for hours and rate per hour
hours_str = input("Enter hours: ")
rate_str = input("Enter rate per hour: ")

# Convert input strings to numbers
hours = float(hours_str)
rate = float(rate_str)

# Call the computepay function
pay = computepay(hours, rate)

# Display the result
print("Pay:", pay)

In [ ]:
while True:
    line=input("enter operater")
    if line=="done":
        break
    print(line)
print("done!!")

In [ ]:
while True:
    line=input("enter operater")
    if line[0]=="#":
        continue 
        print("halooo")
    if line=="done":
        break
    print("hal")
print("done!!")

In [ ]:
friends=["ibraheem","tayyeb","ayub","abbas","mashal"]
for friend in friends:
    print("how are you",friend)

In [ ]:
larg_num=-1
for num in [2,3,10,8,9,0,12,89,87,98,2]:
    if num>larg_num:
        larg_num = num
print(larg_num)

In [ ]:
larg_num=100
for num in [2,3,10,8,9,0,12,89,87,98,2]:
    if num>larg_num:
        larg_num = num
print(larg_num)

In [ ]:
larg_num=-1
for num in [2,3,10,8,9,0,12,89,87,23,98,2]:
    if num> larg_num:
        larg_num =num
        print(larg_num,num)
print("after",larg_num)

In [ ]:
num=0
for list1 in [2,3,10,8]:
    num=num+list1
    print(num,list1)
print(num)

In [ ]:
num=0 
count=0
for list1 in [2,3,10,8]:
    count=count+1
    num=num+list1
    print(num,list1)
print(count)

In [ ]:
sum1=0 #avreage
count=0
for list1 in [2,4,10,8]:
    count=count+1
    sum1=sum1+list1
    print(sum1,count)
print(sum1/count)

In [ ]:
for list1 in [2,4,146,56,5,5]:
    if list1>20:
        print("the large value",list1)

In [ ]:
need= False
for num in [1,3,4,7,8,9]:
    if num== 4:
        need=True 
        print(need,num)

In [ ]:
n = 5
while n > 0 :
    print(n)
    n=n-1
print('All done')

In [ ]:
tot = 0 
for i in [5, 4, 3, 2, 1] :
    tot = tot + 1
print(tot)

In [ ]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends :
     print('Happy New Year:',  friend)
print('Done!')

In [ ]:
zork = 0
for thing in [9, 41, 12, 3, 74, 15] :
    zork = zork + thing
print('After', zork)

In [ ]:
smallest_so_far = -1
for the_num in [9, 41, 12, 3, 74, 15] :
    if the_num < smallest_so_far :
        smallest_so_far = the_num
print(smallest_so_far)

In [ ]:
smallest_so_far = None

for the_num in [9, 41, 12, 3, 74, 15]:
    if smallest_so_far is None or the_num < smallest_so_far:
        smallest_so_far = the_num

print(smallest_so_far)

In [ ]:
n = 0
while n > 0 :
    print('Lather')
    print('Rinse')
print('Dry off!')

# 
5.2 Write a program that repeatedly prompts a user for integer numbers until the user enters 'done'. Once 'done' is entered, print out the largest and smallest of the numbers. If the user enters anything other than a valid number catch it with a try/except and put out an appropriate message and ignore the number. Enter 7, 2, bob, 10, and 4 and match the output below.

In [ ]:
largest = None
smallest = None

while True:
    user_input = input("Enter an integer number or 'done' to finish: ")

    if user_input.lower() == 'done':
        break

    try:
        number = int(user_input)
        if largest is None or number > largest:
            largest = number
        if smallest is None or number < smallest:
            smallest = number
    except ValueError:
        print("Invalid input")

if largest is not None and smallest is not None:
    print(f"Maximum is {largest}")
    print(f"Minimum is {smallest}")
else:
    print("Invalid input")

In [4]:
friends = [ 'Joseph', 'Glenn', 'Sally' ]

print (friends[2])

Sally

In [5]:
fruit = 'Banana'
fruit[0] = 'b'
print(fruit)

TypeError: 'str' object does not support item assignment

In [6]:
fruit = 'Banana'
fruit = 'b' + fruit[1:]
print(fruit)

banana

In [7]:
x = list(range(5))

In [8]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(len(c))

6

In [9]:
friends = [ 'Joseph', 'Glenn', 'Sally' ]
friends.sort()
print(friends[0])

Glenn

In [1]:
#c = int(input('enter the number'))
fb = [0,1]
#while len(fb)< c:
for i in range(20):
    n = fb[-1] +fb[-2]
    fb.append(n)
print(fb)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946]